# IMPORT LIBRARIES

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

# READ DATASET

In [24]:
df = pd.read_csv('prosperLoanData.csv')

In [27]:
df.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

# DATA PREPROCESSING

In [28]:
df.shape

(113937, 81)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

# Checking For Duplicate Values

In [30]:
#Checking For Duplicates
print(df.duplicated(). value_counts())
#Drop Duplicates if any
df.drop_duplicates(inplace= True)
#Print the length of the dataframe
print(len(df))

False    113937
Name: count, dtype: int64
113937

# Observation: Dataframe does not contain any duplicates

# Checking For Missing Values

In [31]:
#Checking For Missing Value
df.isnull().sum()

ListingKey                         0
ListingNumber                      0
ListingCreationDate                0
CreditGrade                    84984
Term                               0
                               ...
PercentFunded                      0
Recommendations                    0
InvestmentFromFriendsCount         0
InvestmentFromFriendsAmount        0
Investors                          0
Length: 81, dtype: int64

### Observation: There are a lot of missing values in this dataset, I will fill them out by replacing NaN with the mean value of the column (for Numeric Columns), the most frequent data (for categorical column) or simply drop the column if they are not important for my analysis

## Addressing Missing Values in Numerical Columns By replacing them with the mean value of the column

In [33]:
df.replace("?", np.nan, inplace=True)

In [34]:
df['ClosedDate'].replace(np.nan, "Open", inplace = True)

In [35]:

avg_BorrowerAPR = df['BorrowerAPR'].astype ('float').mean(axis=0)
print("Average BorrowerAPR:", avg_BorrowerAPR)

Average BorrowerAPR: 0.21882765590982514

In [36]:
df['BorrowerAPR'].replace(np.nan, avg_BorrowerAPR, inplace = True)

In [37]:
avg_EstimatedEffectiveYield = df['EstimatedEffectiveYield'].astype ('float').mean(axis=0)
print("Average EstimatedEffectiveYield:", avg_EstimatedEffectiveYield)

Average EstimatedEffectiveYield: 0.1686614749036569

In [39]:
df['EstimatedEffectiveYield'].replace(np.nan, avg_EstimatedEffectiveYield, inplace = True)

In [40]:
avg_EstimatedLoss = df['EstimatedLoss'].astype ('float').mean(axis=0)
print("Average EstimatedLoss:", avg_EstimatedLoss)

Average EstimatedLoss: 0.08030585836682264

In [41]:
df['EstimatedLoss'].replace(np.nan, avg_EstimatedLoss, inplace = True)

In [42]:
avg_EstimatedReturn = df['EstimatedReturn'].astype ('float').mean(axis=0)
print("Average EstimatedReturn:", avg_EstimatedReturn)

Average EstimatedReturn: 0.09606829611209974

In [43]:
df['EstimatedReturn'].replace(np.nan, avg_EstimatedReturn, inplace = True)

In [44]:
avg_ProsperRating_numeric = df['ProsperRating (numeric)'].astype ('float').mean(axis=0)
print("Average ProsperRating (numeric):", avg_ProsperRating_numeric)

Average ProsperRating (numeric): 4.07224258423391

### Addressing Missing Values in Categorical Columns By replacing them with the most frquent value in the column

In [50]:
df['ProsperRating (Alpha)'].value_counts()

ProsperRating (Alpha)
C     18345
B     15581
A     14551
D     14274
E      9795
HR     6935
AA     5372
Name: count, dtype: int64

In [51]:
df['ProsperRating (Alpha)'].replace(np.nan, 'C', inplace = True)

In [52]:
df['CreditGrade'].value_counts()

CreditGrade
C     5649
D     5153
B     4389
AA    3509
HR    3508
A     3315
E     3289
NC     141
Name: count, dtype: int64

In [53]:
df['CreditGrade'].replace(np.nan, 'C', inplace = True)

In [94]:
!pip install pandas numpy

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [95]:
import numpy as np
import pandas as pd

In [96]:
raw_data = pd.read_csv('prosperLoanData.csv')

In [97]:
raw_data.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [98]:
raw_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

# DATA CLEANING

In [99]:
raw_data.drop(['ListingKey', 'ListingNumber', 'LoanKey', 'LoanNumber', 'MemberKey'], axis=1, inplace=True, errors='ignore')

In [100]:
raw_data.drop(['ListingCreationDate', 'ListingCategory (numeric)', 'ClosedDate', 'LoanOriginationDate', 'LoanOriginationQuarter', 'ScorexChangeAtTimeOfListing'], axis=1, inplace=True, errors='ignore')

In [101]:
raw_data.drop(['DateCreditPulled', 'FirstRecordedCreditLine', 'TotalCreditLinespast7years', 'OpenRevolvingAccounts', 'OpenRevolvingMonthlyPayment', 'InquiriesLast6Months', 'TotalInquiries', 'DelinquenciesLast7Years', 'PublicRecordsLast10Years', 'PublicRecordsLast12Months', 'RevolvingCreditBalance', 'BankcardUtilization', 'AvailableBankcardCredit', 'TotalTrades', 'TradesNeverDelinquent (percentage)', 'TradesOpenedLast6Months'], axis=1, inplace=True, errors='ignore')

In [102]:
raw_data.drop(['LP_CustomerPayments', 'LP_CustomerPrincipalPayments', 'LP_InterestandFees', 'LP_ServiceFees', 'LP_CollectionFees', 'LP_GrossPrincipalLoss', 'LP_NetPrincipalLoss', 'LP_NonPrincipalRecoverypayments'], axis=1, inplace=True, errors='ignore')

In [103]:
raw_data.drop(['Recommendations', 'InvestmentFromFriendsCount', 'InvestmentFromFriendsAmount', 'Investors'], axis=1, inplace=True, errors='ignore')

In [104]:
raw_data.drop(['GroupKey', 'CurrentlyInGroup'], axis=1, inplace=True, errors='ignore')

In [105]:
raw_data['CreditGrade'] = raw_data['CreditGrade'].fillna('N/A') #Setting nan to N/A for cust. without a credit grade

In [106]:
raw_data['TotalProsperLoans'] = raw_data['TotalProsperLoans'].fillna(0)
raw_data['TotalProsperPaymentsBilled'] = raw_data['TotalProsperPaymentsBilled'].fillna(0)
raw_data['OnTimeProsperPayments'] = raw_data['OnTimeProsperPayments'].fillna(0)
raw_data['ProsperPaymentsLessThanOneMonthLate'] = raw_data['ProsperPaymentsLessThanOneMonthLate'].fillna(0)
raw_data['ProsperPaymentsOneMonthPlusLate'] = raw_data['ProsperPaymentsOneMonthPlusLate'].fillna(0)
raw_data['ProsperPrincipalBorrowed'] = raw_data['ProsperPrincipalBorrowed'].fillna(0)
raw_data['ProsperPrincipalOutstanding'] = raw_data['ProsperPrincipalOutstanding'].fillna(0)
raw_data['LoanFirstDefaultedCycleNumber'] = raw_data['LoanFirstDefaultedCycleNumber'].fillna(0)

In [107]:
raw_data.dropna(subset=raw_data.columns, inplace=True)
raw_data.reset_index(inplace=True,  drop=True)

In [108]:
raw_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76216 entries, 0 to 76215
Data columns (total 40 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CreditGrade                          76216 non-null  object
 1   Term                                 76216 non-null  int64
 2   LoanStatus                           76216 non-null  object
 3   BorrowerAPR                          76216 non-null  float64
 4   BorrowerRate                         76216 non-null  float64
 5   LenderYield                          76216 non-null  float64
 6   EstimatedEffectiveYield              76216 non-null  float64
 7   EstimatedLoss                        76216 non-null  float64
 8   EstimatedReturn                      76216 non-null  float64
 9   ProsperRating (numeric)              76216 non-null  float64
 10  ProsperRating (Alpha)                76216 non-null  object
 11  ProsperScore                         76216 non-null  float64
 12  BorrowerState                        76216 non-null  object
 13  Occupation                           76216 non-null  object
 14  EmploymentStatus                     76216 non-null  object
 15  EmploymentStatusDuration             76216 non-null  float64
 16  IsBorrowerHomeowner                  76216 non-null  bool
 17  CreditScoreRangeLower                76216 non-null  float64
 18  CreditScoreRangeUpper                76216 non-null  float64
 19  CurrentCreditLines                   76216 non-null  float64
 20  OpenCreditLines                      76216 non-null  float64
 21  CurrentDelinquencies                 76216 non-null  float64
 22  AmountDelinquent                     76216 non-null  float64
 23  DebtToIncomeRatio                    76216 non-null  float64
 24  IncomeRange                          76216 non-null  object
 25  IncomeVerifiable                     76216 non-null  bool
 26  StatedMonthlyIncome                  76216 non-null  float64
 27  TotalProsperLoans                    76216 non-null  float64
 28  TotalProsperPaymentsBilled           76216 non-null  float64
 29  OnTimeProsperPayments                76216 non-null  float64
 30  ProsperPaymentsLessThanOneMonthLate  76216 non-null  float64
 31  ProsperPaymentsOneMonthPlusLate      76216 non-null  float64
 32  ProsperPrincipalBorrowed             76216 non-null  float64
 33  ProsperPrincipalOutstanding          76216 non-null  float64
 34  LoanCurrentDaysDelinquent            76216 non-null  int64
 35  LoanFirstDefaultedCycleNumber        76216 non-null  float64
 36  LoanMonthsSinceOrigination           76216 non-null  int64
 37  LoanOriginalAmount                   76216 non-null  int64
 38  MonthlyLoanPayment                   76216 non-null  float64
 39  PercentFunded                        76216 non-null  float64
dtypes: bool(2), float64(27), int64(4), object(7)
memory usage: 22.2+ MB

# DATA ENCODING

In [109]:
raw_data[['CreditGrade', 'ProsperRating (Alpha)', 'BorrowerState', 'Occupation', 'EmploymentStatus', 'IncomeRange']].head()

,CreditGrade,ProsperRating (Alpha),BorrowerState,Occupation,EmploymentStatus,IncomeRange
0,N/A,A,CO,Professional,Employed,"$50,000-74,999"
1,N/A,A,GA,Skilled Labor,Employed,"$25,000-49,999"
2,N/A,D,MN,Executive,Employed,"$100,000+"
3,N/A,B,NM,Professional,Employed,"$100,000+"
4,N/A,E,KS,Sales - Retail,Employed,"$25,000-49,999"

In [110]:
raw_data = pd.get_dummies(raw_data, columns = ['CreditGrade', 'ProsperRating (Alpha)', 'BorrowerState', 'Occupation', 'EmploymentStatus', 'IncomeRange'])

# DATA LABELLING

In [111]:
target_col = 'LoanStatus'
raw_data[target_col].unique()

array(['Current', 'Past Due (1-15 days)', 'Defaulted', 'Completed',
       'Chargedoff', 'Past Due (16-30 days)', 'Past Due (61-90 days)',
       'Past Due (31-60 days)', 'Past Due (91-120 days)',
       'FinalPaymentInProgress', 'Past Due (>120 days)'], dtype=object)

In [112]:

binarized_vals = {
    'Current': 0,
    'Past Due (1-15 days)': 0,
    'Defaulted': 1,
    'Completed': 0,
    'Chargedoff': 0,
    'Past Due (16-30 days)': 0,
    'Past Due (61-90 days)': 0,
    'Past Due (31-60 days)': 0,
    'Past Due (91-120 days)': 0,
    'FinalPaymentInProgress': 0,
    'Past Due (>120 days)': 0
}

In [113]:
raw_data[target_col] = raw_data[target_col].map(binarized_vals)

# FINAL DATASET

In [114]:
data = raw_data
data.head()

,Term,LoanStatus,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperScore,...,EmploymentStatus_Other,EmploymentStatus_Part-time,EmploymentStatus_Retired,EmploymentStatus_Self-employed,"IncomeRange_$1-24,999","IncomeRange_$100,000+","IncomeRange_$25,000-49,999","IncomeRange_$50,000-74,999","IncomeRange_$75,000-99,999",IncomeRange_Not employed
0,36,0,0.12016,0.0920,0.0820,0.07960,0.0249,0.05470,6.0,7.0,...,False,False,False,False,False,False,False,True,False,False
1,36,0,0.12528,0.0974,0.0874,0.08490,0.0249,0.06000,6.0,9.0,...,False,False,False,False,False,False,True,False,False,False
2,36,0,0.24614,0.2085,0.1985,0.18316,0.0925,0.09066,3.0,4.0,...,False,False,False,False,False,True,False,False,False,False
3,60,0,0.15425,0.1314,0.1214,0.11567,0.0449,0.07077,5.0,10.0,...,False,False,False,False,False,True,False,False,False,False
4,36,0,0.31032,0.2712,0.2612,0.23820,0.1275,0.11070,2.0,2.0,...,False,False,False,False,False,False,True,False,False,False